<h1>Learn it</h1>
<div class="grid">
	<div class="content">
	
<div class="container">
    <div class="row">
        <div class="col-12" *ngIf="index < problems[topic].length">
            <div class="problem d-flex justify-content-center">
                <div>{{displayProblem(problems[topic][index])}}</div>
            </div>
            <div class="justify-content-center row">
                <div class="q_box col-6"  (click)="assessAnswer(answer)" *ngFor="let answer of problems[topic][index].multipleChoice">{{ answer }}</div>
            </div>
        </div>
        <div id="finishedMessage" class="justify-content-center row col-12" *ngIf="index >= problems[topic].length">
            <h1>Great job!</h1>
			<br>
			<h4>Goal:  {{ problems[topic].length }}</h4>
			<br>
            <h4 class="justify-content-center row col-12" *ngIf="correctAnswers > 0">You have {{ correctAnswers }} correct answers!</h4>
        </div>
    </div>
</div>
	</div>
	<div class="canvas">
		<h3>Write in the area below to work out your answer</h3>
		<app-canvas width=1000 height=600></app-canvas>
		<br>
		<button class="btn btn-primary" type="button" onClick="window.location.reload()">Clear</button> 
	</div>
</div>

