<div class="container-fluid">
  <div id="fLogin" class="row justify-content-md-center">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 card container">
      <div class="card-body row">
        <label for="username" class="col-12">Username</label>
        <input id="username" class="col-12" type="text"><br>

        <label for="username" class="col-12">Password</label>
        <input id="username" class="col-12" type="password">
        <span class="col-12"><input type="checkbox"> Remember Me</span>

        <button id="bLogin" class="col-12" routerLink="/">Log In</button>
      </div>
    </div>
  </div>
</div>
