<div class="container-fluid">
  <div id="fLogin" class="row justify-content-md-center">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 card">
      <div class="card-body">
        <label for="username">Username</label>
        <input id="username" type="text"><br>

        <label for="username">Password</label>
        <input id="username" type="text">
        <input type="checkbox"> Remember Me

        <button id="bLogin" routerLink="/" (click)="toggleLogin()">Log In</button>
      </div>
    </div>
  </div>
</div>