#nav-logo {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  #nav-title {
    font-size: 49px;
    font-weight: bold;
    margin:  0 0 0 10px;
    color: black;
  }
  #nav-menu {
    display: inline-block;
    max-height: 64px;
    margin: 0 0;
  }
  #login-session {
    margin-top: auto;
    padding: 0 0 10px 0;
  }
  ul {
    padding: 10px 0 0 0;
    margin: 0 0 15px 0;
  }
  .nav-item {
    margin-top: auto;
  }
