/* You can add global styles to this file, and also import other style files */
.green-tint-text {
  color: #a7e274;
}
.green-key-text {
  color: #7fd535;
}
.green-shade-text {
  color: #5a9d21;
}
.purple-contrast-text {
  color: #8b35d5;
}
.orange-contrast-text {
  color: #d58b35;
}

.green-tint-bg {
  background-color: #a7e274;
}
.green-key-bg {
  background-color: #7fd535;
}
.green-shade-bg {
  background-color: #5a9d21;
}
.purple-contrast-bg {
  background-color: #8b35d5;
}
.orange-contrast-bg {
  background-color: #d58b35;
}
