<div class="grid">
  <div class="item lightning" [routerLink]="['/lightning-round']">
    <img src="../../assets/img/lightning1.PNG" alt="">
    <h2>Lightning Round</h2>
  </div>
  <div class="item learn" [routerLink]="['/learn']">
    <img src="../../assets/img/learn.PNG" alt="">
    <h2>Learn</h2>
  </div>
  <div class="item homework" [routerLink]="['/homework']">
    <img src="../../assets/img/homework.PNG" alt="">
    <h2>Homework</h2>  
  </div>
  <div class="item quiz" [routerLink]="['/quiz-test']">
    <img src="../../assets/img/quizzesntests.PNG" alt="">
    <h2>Quizzes & Tests</h2>  
  </div>
  <div class="item compete" [routerLink]="['/compete']">
    <img src="../../assets/img/compete.PNG" alt="">
    <h2>Compete</h2>
  </div>
  <div class="item report" [routerLink]="['/reports']">
    <img src="../../assets/img/progress.PNG" alt="">
    <h2>Reports</h2>  
  </div>
</div>




