#sidenav {
  height: 100%;
  background-color: #33f2ff;
  border: 3px solid darkcyan;
  box-shadow: 6px 6px #8a35d554;
  padding: 10px;
  margin: 10px 0 0 10px;
}
#sidenav select, input {
  margin: 0 0 0 15px;
}
#sidenav .row {
  margin-bottom: 10px;
}
#sidenav .row button{
  margin-left: 15px;
}
#mainContent {
  margin: 10px 0 0 0;
}
